:root {
    --white: #FFFFFF;
    --grey-900: #48556A;
    --grey-500: #6E8098;
    --grey-400: #9DAEC2;
    --grey-200: #ECF2F8;
    --font-family: 'Manrope', sans-serif;
    --font-size-title: 1.25rem;
    --font-size-text: 0.8125rem;
    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --line-height-title: 1.625rem;
    --line-height-text: 1.1375rem;
    --letter-spacing-title: 0.01563rem;
    --letter-spacing-text: 0.001rem;
    --letter-spacing-accent: 0.20313rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-600: 3rem;
    --spacing-700: 3.5rem;
    --spacing-800: 4rem;
    --spacing-1300: 6.4rem;
    --spacing-2000: 10rem;
    --mobile: 327px;
    --tablet: 608px;
    --desktop: 730px;
}

@font-face {
    font-family: var(--font-family);
    src: url(../assets/fonts/Manrope-Bold.ttf) format('truetype');
    font-weight: var(--font-weight-bold);
}

@font-face {
    font-family: var(--font-family);
    src: url(../assets/fonts/Manrope-Medium.ttf) format('truetype');
    font-weight: var(--font-weight-medium);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    display: block;
    height: auto;
}

button {
    cursor: pointer;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-text);
    letter-spacing: var(--letter-spacing-text);
    color: var(--grey-500);
    background-color: var(--grey-200);
}