@import './global.css';

.article {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-400);
    width: var(--mobile);
    margin: 65px auto;
    border-radius: 10px;
    overflow-y: clip;
    background-color: var(--white);
    box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.50);
}

.article_img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.article_content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-600);
    padding: 0 30px 18px;
}

.article_text {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

.article_title {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-title);
    letter-spacing: var(--letter-spacing-title);
    color: var(--grey-900);
}

.article_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details {
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
}

.details_text {
    display: flex;
    flex-direction: column;
}

.details_img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.details_name {
    font-weight: var(--font-weight-bold);
    color: var(--grey-900);
}

.details_date {
    color: var(--grey-400);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    z-index: 1;
    border: none;
    border-radius: 50%;
    background-color: var(--grey-200);
    transition: background-color 250ms linear, fill 250ms linear;
}

.button_icon {
    fill: var(--grey-500);
}

.button:hover,
.button:focus,
.button:active {
    background-color: var(--grey-500);
}

.button:hover .button_icon,
.button:focus .button_icon,
.button:active .button_icon {
    fill: var(--grey-200);
}


.toast {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--spacing-700);
    height: 76px;
    padding: 16px 32px;
    border-radius: 0px 0px 10px 10px;
    background-color: var(--grey-900);
}

.toast.is-hidden {
    display: none;
}

.toast_wrap {
    display: flex;
    align-items: center;
    gap: var(--spacing-300);
}

.toast_text {
    height: 1rem;
    letter-spacing: var(--letter-spacing-accent);
    text-transform: uppercase;
    color: var(--grey-400);     
}

.socials {
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
}

.socials_icon {
    display: block;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .article {
        flex-direction: row;
        width: var(--tablet);
        margin-top: 227px;
    }

    .article_img {
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        width: 229px;
        height: 346px;
    }

    .article_content {
        position: relative;
        padding: 41px 36px 41px 0;
        gap: var(--spacing-300);
    }

    .toast {
        bottom: 63px;
        left: 170px;
        width: 248px;
        height: 100px;
        background-color: transparent;
        background-image: url(https://github.com/Oliko136/article-preview-component/blob/main/assets/images/toast.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

    .toast_wrap {
        position: absolute;
        top: 25%;
    }
}

@media screen and (min-width: 1440px) {
    .article {
        width: var(--desktop);
        gap: var(--spacing-500);
        margin-top: 260px;
    }

    .article_img {
        width: 285px;
        height: 280px;
    }

    .article_content {
        padding: 30px 40px 30px 0;
    }

    .toast {
        left: 225px;
    }
}